.horizontal-scroll-section {
    display: flex;
    width: 500vw;
    height: 100vh;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    position: sticky;
    top: 0;
}

.card {
    scroll-snap-align: start;
    flex: 0 0 100vw;
    height: 100vh;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}