.footer {
    width: 100%;
    margin-bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}

.footer p {
    margin-bottom: 0;
}

.footer-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-brand img {
    height: 100px;
    width: 70px;
}

.fb-brand {
    color: #1b71eb;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 0.3rem;
}

.foot-add {
    text-align: center;
    font-weight: 600;
}

.footer-ico {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.footer-ico a {
    /* color: black; */
    color: #1b71eb;
    font-size: 1.5rem;
    transition: 0.5s all ease;
}

.footer-ico a:hover {
    opacity: 0.7;
}

.footer-cr {
    text-align: center;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.82);
}

.foot-add a i {
    color: #1b71eb;
}

@media screen and (max-width:450px) {
    .footer-brand {
        flex-direction: column;
    }
}