.photo-layout {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: relative;
    padding: 50px;
    background: #fff;
    overflow: hidden;
    /* padding-top: 0; */
    /* height: 100vh; */
    background-image: url('../assets/work.png');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    background-color: rgba(0, 0, 0, 0.078);
}

.left-section {
    z-index: 2;
    display: flex;
    flex-direction: column;
    /* max-width: 300px; */
    padding-right: 40px;
    width: 50%;
    background-color: rgba(255, 255, 255);
    /* border: 5px solid red; */
    border-radius: 10px;
    overflow: hidden;
    padding: 2rem;
    border: 5px solid #005bea;
    align-items: center;
    align-items: flex-start;
    /* opacity: 0.7; */
    /* justify-content: center; */
}

.left-section h2 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: #1b70ef;
}

.left-section p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

.left-section .ls-link {
    text-decoration: none;
    background: linear-gradient(to right, #005bea, #1b70ef98);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.card-section {
    z-index: 5;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    z-index: 5;
    width: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-header {
    background: linear-gradient(to right, #005bea, #1b70ef98);
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    width: 90%;
    font-weight: bold;
}

.card ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.card li {
    padding: 5px 0;
    color: #333;
    font-size: 14px;
    border-bottom: 1px solid #c1c1c1;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;
    /* background: linear-gradient( #005bea, #00c6fb); */
    background: linear-gradient(to right, #1b70ef98, #005bea, #005bea);
    clip-path: ellipse(70% 100% at 50% 100%);
    z-index: 1;
}

@media screen and (max-width: 1000px) {
    .photo-layout {
        padding: 1rem 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: auto;
    }
    .left-section {
        width: 100%;
        align-items: center;
        padding: 1rem;
    }
}

@media screen and (max-width:550px) {
    .card {
        width: 70%;
        min-height: 20rem;
        justify-content: flex-start;
        padding: 2rem 0.5rem;
    }
}