.results {
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
}

.colum {
    /* border: 2px solid red; */
    height: 35rem;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0;
    align-items: center;
    flex-direction: column;
    width: 27%;
    overflow: hidden;
}

.col2 {
    display: flex;
    height: fit-content !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 32%;
    align-items: center;
    justify-content: center;
}

.wn-col {
    flex-direction: column;
}

.col1 .wn-card {
    transform: rotate(15deg);
    animation: floatCard 3s ease-in-out infinite;
}

.col3 .wn-card {
    transform: rotate(-15deg);
    animation: floatCard2 3s ease-in-out infinite;
}

@keyframes floatCard {
    0% {
        transform: translateY(0) translateX(0) rotate(15deg);
    }
    50% {
        transform: translateY(-20px) translateX(15px) rotate(15deg);
    }
    100% {
        transform: translateY(0) translateX(0) rotate(15deg);
    }
}

@keyframes floatCard2 {
    0% {
        transform: translateY(0) translateX(0) rotate(-15deg);
    }
    50% {
        transform: translateY(-30px) translateX(25px) rotate(-15deg);
    }
    100% {
        transform: translateY(0) translateX(0) rotate(-15deg);
    }
}

.col2 p {
    text-decoration: none;
    font-size: 5rem;
    font-style: normal;
    text-align: center;
    color: #333;
    overflow: hidden;
}

@media screen and (max-width:850px) {
    .colum {
        flex-direction: row;
        width: 100%;
        height: fit-content;
        padding: 3rem;
        gap: 1rem;
    }
    .col1 {
        padding-bottom: 1rem;
    }
    .col2 {
        padding: 1rem 3rem;
    }
    .results {
        flex-direction: column;
    }
    .col2 {
        justify-content: center;
        align-items: center;
        margin: auto 0;
    }
    .col2 p {
        font-size: 2rem;
    }
}