.WhyInnovader {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 5rem;
}

.why-counters {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* text-align: left; */
}

.why-innovader {
    font-size: 1.6rem;
    color: #1b70ef;
    font-weight: bolder;
    text-transform: uppercase;
    /* background-color: #1b70ef29; */
    /* padding: 1rem 2rem; */
    /* border-radius: 2rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 1.5rem;
}

.why-innovader img {
    height: 2.5rem;
    width: 2rem;
}

.super-head {
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    width: 90%;
}

.super-head span {
    background-color: rgba(245, 245, 83, 0.781);
    padding: 0 1rem;
    font-weight: bold;
}

.count {
    font-size: 3rem !important;
    font-weight: bold;
    color: #1b70ef;
}

.why-content {
    width: 90%;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.8rem;
}

.counter {
    padding: 1rem;
}

.counter span {
    color: #1b70ef;
    font-size: 1.2rem;
}

.why-btn {
    font-size: 1.2rem;
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 600;
    /* color: white; */
    color: #1b70ef;
    border: none;
    /* background-color: #1b70efda; */
    background-color: white;
    padding: 1rem;
}


/* .why-btn:hover {
    background-color: #1b70ef;
} */

.why-cta {
    display: flex;
    gap: 2rem;
    font-size: 1.3rem;
    background-color: #1b70ef;
    color: white;
    align-self: flex-end;
    /* color: #1b70ef; */
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 2.5rem;
    border-top-left-radius: 2.5rem;
    flex-direction: row-reverse;
}

.spans {
    display: flex;
    gap: 2rem;
}

@media screen and (max-width: 830px) {
    .why-counters {
        flex-wrap: wrap;
        gap: 2rem;
    }
    .counter {
        width: 40%;
        padding: 0;
    }
    .counter p {
        text-wrap: wrap;
    }
    .why-cta {
        width: 100%;
        border-radius: 0;
        flex-direction: column;
    }
    .why-cta .spans {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
}

@media screen and (max-width:450px) {
    .counter {
        width: 60%;
    }
}