* {
    margin: 0;
    padding: 0;
    font-family: "Merriweather", serif;
    overflow-x: hidden;
}

button {
    cursor: pointer;
    opacity: 0.8;
    font-family: "Merriweather", serif !important;
    transition: all 0.3 ease-in;
}

button:hover {
    opacity: 1;
}